@charset "utf-8";
* {
  margin: 0;
}

#bird,
#halo {
  height: 100vh;
  width: 100vw;
  position: relative;
}

p {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
