
/*
 + 	カラーを格納する変数
 +
 + 用途(できるだけ伝わりやすい英語)-種類(英字1文字)で変数名をつけること
 + ex : primary(サイトイメージカラー)-s(セカンダリカラー)  lはライトカラー,dは暗いカラーのように
 */

$primary: #10aea9;
$primary-s: #025f8e;
$alert: #c00;
$alert-s: #f00;
$glay: #666;
$glay-l: #999;
$glay-d: #333;
$dark: #000;
