/*
 +	core css
 */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font_def;
}

a {
  transition: opacity .2s;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}